
.contacts-footer {
    margin-top: 466px;
}

.contacts-title {
    position: absolute;
    margin-top: 60px;
    margin-left: 125px;
    color: white;
     font-family: 'Golos';
    font-weight: 600;
    //  font-size: 50px;
}

.contacts-subtitle {
    position: absolute;
    margin-top: 150px;
    margin-right: 131px;
    text-align: start;
    margin-left: 125px;
    color: #808080;
    font-family: 'Golos';
    font-weight: 500;
      font-size: 20px;
}