.rec-title {
    position: absolute;
    margin-top: -50px;
    margin-left: 125px;
    color: white;
     font-family: 'Golos';
    font-weight: 600;
    //  font-size: 50px;
}

.rec-subtitle {
    position: absolute;
    margin-top: 15px;
    margin-left: 130px;
    color: #808080;
    font-family: 'Golos';
    font-weight: 500;
      font-size: 20px;
}



.rec-arr {
    // width: 100px ;
    position: relative;
    margin-top: 100px;
    padding-top: 20px;

    margin-bottom: 100px;
}

.hz {
    margin-top: 650px;
}