

.about-title {
    position: absolute;
    margin-top: 60px;
    margin-left: 125px;
    color: white;
     font-family: 'Golos';
    font-weight: 600;
    //  font-size: 50px;
}

.black-mockup {
    width: 400px;
    height: 300px;
    margin-top: 50px;
    margin-left: 650px;
}

.intouchables-mockup {
    width: 400px;
    margin-top: -30px;
    margin-left: 980px;
    margin-right: 10px;
    height: 300px;
}

.casino-mockup {
    width: 450px;
    height: 300px;
    margin-top: -300px;
    margin-left: 380px;
    // margin-right: -600px;
    // position: absolute;
    // margin-left: -200px;
}

.about-subtitle {
    position: absolute;
    margin-top: 150px;
    margin-right: 710px;
    text-align: start;
    margin-left: 125px;
    color: #808080;
    // color: white;
    font-family: 'Golos';
    font-weight: 500;
      font-size: 20px;
}